.cmptbl {display: grid; grid-template-columns: 1fr 1fr;justify-content: center;grid-row-gap: 12px;}
.cmptblbeforehead {border: 1px solid black;grid-gap: 20px;text-align:center}
.cmptblafterhead {border: 1px solid black;grid-gap: 20px;text-align:center}
.cmptblcell {}
.cmptblbefore {}
.cmptblafter {}
